.drinkList li{
    color: #222222;
    position: relative;
}
.drinkList img{
    float: left;
    width: 30px;
}
.drinkList label{
    margin-top: 10px;
}

.drinkList .drinkName{
    float: left;
    margin-left: 20px;
}

.drinkList .drinkDescription{
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
}

.drinkList .drinkPrice{
    float: right;
    margin-right: 30px;
}

.drinkList .drinkLiBtnGroup{
    float: right;
}

@media only screen and (max-width:825px){
    .drinkList .drinkPrice{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .drinkList .drinkLiBtnGroup{
        width: 100%;
        float: left;
        text-align: center;
    }
}

@media only screen and (max-width:550px){
    .drinkList .drinkDescription{
        width: 100%;
        float: left;
        text-align: center;

    }
    .drinkList .drinkLiBtnGroup{
        width: 100%;
        float: left;
        text-align: center;
    }
}