*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #262626;
    color: white;
    padding: 0;

}

main, nav, header, footer, section{
    display: block;
}

.navbar-inverse{
    background-color: #262626;
    border: none;
}

#logo{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    padding-left: 50px;
    padding-top:20px;
    width: 100px;
    height: 50px;
    text-decoration: none;
    background: url("../../images/logo.gif") left no-repeat;
    color: #f2f2f2;
}

header{
    height: 200px;
}

main{
}

footer{
    bottom: 0px;
    height: 150px;
    width: 100%;
    margin-top: 100px;
    background-color: #262626;
}

.clear{
    clear: both;
}

nav .icon-bar{
    background-color: white;
}

/* Nav bar buttons*/
nav .navbar-toggle{
    border: none;
}

@media (min-width: 768px) {
    nav .navbar-toggle {
        display: block;
    }
}

nav .hamburger {
    position: absolute;
    left: 5px;
}
nav .search-toggle{
    position: absolute;
    right: 5px;
    color: white;
}

footer .contact{
    margin: auto;
    margin-top: 30px;
    width: 105px;
}

footer .rights{
    text-align: center;
    font-size: small;
    margin-top: 30px;
    color: #a6a6a6;
}

.fbLink {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url("../../images/fbLogo.png");
}

.youtubeLink{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url("../../images/youtubeLogo.png");
}

