@import url(http://fonts.googleapis.com/css?family=Volkhov:700);

/* FOR ALL SCREENS*/
*{
    padding: 0;
    margin: 0;
}

body{
    background: url("../../images/bar-background-dark.jpg") #1C1B1B  no-repeat top;
    color: white;
    padding: 0;
}

#index{
    background: #1C1B1B  no-repeat top;
}

main, nav, header, footer, section{
    display: block;
}
main{
    min-height: 450px;
}

form{
    display: inline-block;
}
.wrapper{
    width: 100%;
    margin: auto;
}

btn:hover{
    text-decoration:none;
}

.clear{
    clear: both;
}


/*** Header ***/

header{
    margin-top: 50px;
    padding: 50px 50px;
    background: none;
}

header h2{
    display: block;
    margin-top: 30px;
}

header h1{
}
/*** Header END ***/


/**** Nav-bar ****/
nav{
    height: 50px;
}
#checkOut main{
    width: 200px;
    color: #0f0f0f;
}

#logo{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    padding-left: 50px;
    padding-top:20px;
    width: 100px;
    height: 50px;
    text-decoration: none;
    background: url("../../images/logo.svg") left no-repeat;
    background-size: 30px;
    color: #f2f2f2;
}
navbar-inverse{
    background-color: #262626;
    border: none;
}
nav .icon-bar{
    background-color: white;
}

nav .navbar-toggle{
    border: none;
}

nav .hamburger {
    position: absolute;
    left: 5px;
}
nav .search-toggle{
    position: absolute;
    right: 5px;
    color: white;
}


/**** Nav-bar END ****/


/**** Footer ***/

footer{
    bottom: 0px;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
    background-color: #262626;
}

footer .contact{
    margin: auto;
    margin-top: 30px;
    width: 105px;
}

footer .rights{
    text-align: center;
    font-size: small;
    margin-top: 30px;
    color: #a6a6a6;
}

.fbLink {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url("../../images/fbLogo.png");
}

.youtubeLink{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url("../../images/youtubeLogo.png");
}

/**** Footer END ***/

/***** customize poster ******/

.customize-poster{
    max-width: 1000px;
    height: 400px;
    display: block;
    margin: 50px auto;
    background: url("../../images/customize.jpg") no-repeat center;
    position: relative;
    text-align: center;
}
.customizeGif{
    max-width: 1000px;
    height: 400px;
    display: block;
    margin: 50px auto;
    background: url("../../images/IndexGif.gif") no-repeat center;
    position: relative;
    text-align: center;
}
.customize-poster h2{
    font-size: 400%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}
.customize-poster p{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}

/***** customize poster END ******/

.slogan{
    text-align: center;
    padding: 50px;
}
.headerSlogen{
    text-align: left;
    padding: 50px;
}

/****** side Nav *****/
.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    display: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    background:none;
    border: none;
}
.sidenav .closebtn:focus {
    outline: none;
}

/* The navigation menu links */
.sidenav .sideNavUser{
    margin: 40px 20px;
    padding: 10px;
}
.sidenav .sideNavUser h3{
    display: inline-block;
}
.sidenav .sideNavUser a{
    display: inline-block;
    float: right;
    margin-top: 15px;
    font-size: 200%;
}

.sidenav ul li a {
    font-size: 150%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav ul .active{
    color: #FFFFFF;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/****** side Nav END *****/


/**** Customize ****/

.scroll{
    color: #222222;
}
.customize{
    margin-bottom: 100px;

}

.customize select{
    float: left;
    width: 150px;
    margin-bottom: 5px;
}

.amountInput{
    float: right;
    width: 150px;
}

.amountInput input[type=number]::-webkit-inner-spin-button,
.amountInput input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.glassType label {
    width: 100%;
    margin-bottom: 5px;
}
.glassType label img{
    width: 30px;
    float: right;
    margin-top: -3px;
}
.glassType label span{
    float: right;
    margin-right: 10px;
}


.customizeBtnSection{
    margin: 20px auto;
    width: 210px;
}

.customizeBtnSection .btn-primary {
    padding: 9px 30px;
    margin: auto;
}


.tube{
    position: relative;
    float: right;
    margin-right: 30px;
}
.tube img{
    width: 400px;
}
.tube section{
    position: absolute;
    top: 10px;
    left: 50px;
    width: 280px;
    height: 410px;
    z-index: -1;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}
.tube section div{

    width: 100%;
    height: 30px;
    background-color:yellow ;
}

.alert{
    position: fixed;
    display: none;
    z-index: 2;
    top: 60px;
    right: 5px;
}
.wrapper table{
    color: #262626;
}

.payPanel{
    width: 50%;
    margin: auto;
}
.form_makeyourown{
    display: block;
}


/*MOBILE*/

@media only screen and (max-width: 480px) {
    .sidenav{
        width:100%;
    }

    .scroll{
        margin: auto;
        width: 90%;
    }

    .tube{
        display: none;
    }
}

/*MOBILE END*/


/* BETWEEN TABLET AND MOBILE */
@media only screen and (max-width: 930px) and (min-width: 481px) {
    nav .navbar-toggle {
        display: block;
    }
    .sidenav{
        width:100%;
    }

    .wrapper{
        width: 90%;
        margin: auto;
    }
    .scroll{
        /*float: left;*/
        /*margin-left: 30px;*/
        margin: auto;
        width: 100%;
    }
    .tube{
        display: none;
    }
}
/* BETWEEN TABLET AND MOBILE END */


/*TABLET / PC */

@media only screen and (min-width: 930px) {
    nav .navbar-toggle {
        display: block;
    }
    header {
        padding: 50px 100px;
    }
    .wrapper{
        max-width: 1000px;
        margin: auto;
    }

    .scroll{
        float: left;
        margin-left: 30px;
        width: 50%;
    }

}

/*TABLET / PC END */
